body {
    background-image: linear-gradient( 245deg, #30cfd0 0%, #330867 100%);
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background: skyblue;
    margin-top: 40px;
    margin: auto;
    width: 50%;
    height: 50%;
    overflow: hidden;

    position: center;
    margin-top: 100px;
    margin-bottom: 100px;

}


.box{
    height: 80px;
    width: 80px;
    background:#fff;
    background-color: #fff;
    margin: 0 auto 40px;
    border:2px solid blue;
    box-sizing: border-box;    
}

.container > .box{
    margin-top: 50px;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
