<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <% if(errors){ %> <% errors.forEach(function(error) { %>
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <%= error %>
        </div>
    <% }); %> <% } %> 

    <div class="container" id="gridContainer">
        <% for(let i = 0; i < (nbRows*nbColumns); i++){ %>
            <div class="box" id="box<%=i%>"></div>
        <% } %>
    </div>

    <script>
        document.getElementById("gridContainer").style.setProperty('grid-template-columns', 'repeat(' + <%= nbColumns %>  + ', 1fr)');
        document.getElementById("gridContainer").style.setProperty('grid-template-rows', 'repeat(' + <%= nbRows %>  + ', 1fr)');
        
        const nbrElements = <%= nbColumns %> * <%= nbRows %>; 
        const nbrColumns = <%= nbColumns %>; 
        const rows = <%= nbRows %>; 


        function flushColor(id, color){
            document.getElementById(id).animate([
                // keyframes
                    { backgroundColor: color },
                    { backgroundColor: "white" }
                ], {
                // timing options
                    duration: 2000,
                    iterations: Infinity
            });
        }

        function sleep(n) { return new Promise(resolve=>setTimeout(resolve,n)); }

            let colors = [];
            let line = 1;
            let color = "green"


            for (let i=0; i< nbrElements; i++) {

                if ( ((i % nbrColumns) === 0) && (i !== 0) ){
                    line++;
                    color = "#" + Math.floor(Math.random()*16777215).toString(16);
                    for(let j = i; j < nbrColumns * line; j++){
                        colors[j] = color;

                    }
                } else {
                    colors[i] = color;
                }
            }

            let randomIds = []

            async function loopElements() {

                let id = Math.floor(Math.random() * nbrElements);

                if(randomIds.indexOf(id) < 0) {
                    randomIds.push(id)
                    flushColor(`box${id}`, colors[id]);
                }
        
                await sleep(2000);
                loopElements();
            }

        loopElements();
    </script>
</body>
</html>